@import "variables";

@mixin logo {
  a {
    font-size: $normal-plus;
    font-weight: 800;
    text-transform: uppercase;
    color: $white;
  }
}

@mixin btn {
  font-family: Nunito, sans-serif;
  font-size: $btn-size;
  font-weight: 700;
  color: $black;
  background-color: $aquamarine;
  border: 1px solid $aquamarine;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  transition: all .3s linear;
}
@mixin btn-hover {
  background-color: $aquamarine-hover;
}

@mixin headline {
  font-size: $h3;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@mixin discover-link {
  display: inline-block;
  font-size: $btn-size;
  line-height: 31px;
  color: $aquamarine;
  border: 1px solid $tundora;
  border-radius: 4px;
  padding: 10px 55px 10px 40px;
  position: relative;
  transition: all .3s linear;
  &:before {
    content: "\51";
    font-family: untitled-font-1, sans-serif;
    color: $white;
    font-size: $normal;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    transition: all .3s linear;
  }
  &:hover {
    color: $white;
    border: 1px solid $aquamarine;
    &:before {
      transform: translate(30%, -50%);
      color: $aquamarine;
    }
  }
}

@mixin pop-up-window {
  width: 400px;
  text-align: center;
  background-color: $white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgba(35, 35, 35, 0.7);
  border-radius: 4px;
  padding: 24px 30px;
}

@mixin pop-up-headline {
  font-size: $normal-plus;
  color: $black;
  font-weight: 700;
  text-align: center;
}

@mixin close-x {
  font-size: $normal-plus;
  color: $silver;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: color .3s linear;
  &:hover {
    color: $aquamarine;
  }
}

@mixin dashboard-card-headline {
  font-size: $card-description;
  font-weight: 700;
  color: $black;
}

@mixin dashboard-card-description {
  font-size: $lang-item;
  color: $black;
}

@mixin tag-link {
  font-size: $inbox-counter;
  font-weight: 700;
  color: $black;
  background-color: $humming-bird;
  padding: 5px 8px;
  border-radius: 80px;
  transition: background-color .3s linear;
  &:before {
    content: "#";
  }
  &:hover {
    background-color: darken($humming-bird, 10%);
  }
}

@mixin card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 34px;
  text-align: center;
  font-size: $lang-item;
  color: $black;
  background-color: $athens;
  border-radius: 4px;
  transition: background-color .3s linear;
  &:hover {
    background-color: $athens-dark;
  }
}