@import "variables";

@mixin logo {
  a {
    font-size: $menu-link;
    font-weight: 800;
    text-transform: uppercase;
    color: $white;
  }
}

@mixin btn {
  font-size: $lang-item;
  font-weight: 700;
  color: $black;
  background-color: $aquamarine;
  border: 1px solid $aquamarine;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  transition: all .3s linear;
  @media (min-width: 768px) {
    font-size: $btn-size;
  }
}
@mixin btn-hover {
  background-color: $aquamarine-hover;
}

@mixin headline {
  font-size: $btn-size;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 576px) {
    font-size: $normal-description;
  }
  @media (min-width: 768px) {
    font-size: $h3;
  }
}

@mixin discover-link {
  display: inline-block;
  font-size: $normal;
  line-height: 20px;
  color: $aquamarine;
  border: 1px solid $tundora;
  border-radius: 4px;
  padding: 10px 45px 10px 30px;
  position: relative;
  transition: all .3s linear;
  &:before {
    content: "\51";
    font-family: untitled-font-1, sans-serif;
    color: $white;
    font-size: $normal;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    transition: all .3s linear;
  }
  &:hover {
    color: $white;
    border: 1px solid $aquamarine;
    &:before {
      transform: translate(30%, -50%);
      color: $aquamarine;
    }
  }
  @media (min-width: 768px) {
    font-size: $btn-size;
    line-height: 31px;
    padding: 10px 55px 10px 40px;
  }
}

@mixin pop-up-window {
  width: 300px;
  text-align: center;
  background-color: $white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgba(35, 35, 35, 0.7);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 35px;
  @media (min-width: 768px) {
    width: 460px;
  }
}

@mixin pop-up-headline {
  font-size: $normal;
  color: $black;
  font-weight: 700;
  text-align: center;
  @media (min-width: 768px) {
    font-size: $normal-plus;
  }
}

@mixin close-x {
  font-size: $normal-plus;
  color: $silver;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color .3s linear;
  @media (min-width: 768px) {
    top: 16px;
    right: 16px;
  }
  &:hover {
    color: $aquamarine;
  }
}

@mixin dashboard-card-headline {
  font-size: $normal;
  font-weight: 700;
  color: $black;
  @media (min-width: 768px) {
    font-size: $card-description;
  }
}

@mixin dashboard-card-description {
  font-size: $lang-item;
  color: $black;
}

@mixin tag-link {
  font-size: $inbox-counter;
  font-weight: 700;
  color: $black;
  background-color: $humming-bird;
  padding: 5px 8px;
  border-radius: 80px;
  transition: background-color .3s linear;
  &:before {
    content: "#";
  }
  &:hover {
    background-color: darken($humming-bird, 10%);
  }
}

@mixin card-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: $tags-mobile;
  color: $black;
  background-color: $athens;
  border-radius: 4px;
  padding: 7px 0;
  transition: background-color .3s linear;
  @media (min-width: 768px) {
    font-size: $lang-item;
    padding: 9px 0;
  }
  &:hover {
    background-color: $athens-dark;
  }
}

@mixin h3-title {
  font-size: $normal;
  font-weight: 700;
  color: $black;
  line-height: 20px;
  @media (min-width: 768px) {
    font-size: $card-description;
    line-height: 28px;
  }
}

@mixin label {
  font-size: $normal;
  font-weight: 600;
  line-height: 22px;
  color: $black;
  padding-bottom: 8px;
  display: inline-block;
}

@mixin input-style {
  font-size: $lang-item;
  line-height: 20px;
  background-color: $pop-up-input-gradient;
  border: 1px solid $alto;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  padding: 9px 16px;

  &:focus {
    background-color: $white;
  }
}
@mixin white-btn {
  font-weight: 700;
  font-size: $normal;
  color: $black;
  background-color: $white;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
    background-color: $mercury;
  }
}