
//************************************* Colors **************************************

$white: #FFF;
$black: #000;
$silver: #C0C0C0;
$aquamarine: #73FAAD;
$gallery: #EAEAEA;
$green-gradient: linear-gradient(111.91deg, #121212 0%, #2A5352 157.69%), #F6B84C;
$alto: #D9D9D9;
$shaft :#393939;

//************************************* Font size ************************************

$sign-up: 13px;
$lang-item: 14px;
$log-in: 15px;
$normal: 16px;
$menu-link: 18px;
$btn-size: 21px;
$normal-plus: 24px;
$fav-customer-description: 44px;
$hero-headline: 68px;
$fav-customer-headline: 102px;
