@import "mixins";
@import "variables";

.wrapper {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
  @media (min-width: 992px) {
    padding: 0;
  }
}


//********************************************** Cookie Alert ********************************
//***********************************************************************************************
.cookie-alert {
  width: 100%;
  height: auto;
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: $aquamarine;
  color: $black;
  padding: 10px 15px 0;
  box-sizing: border-box;
  z-index: 9;
  animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  @keyframes scale-in-right {
    0% {
      transform: scale(0);
      transform-origin: 100% 50%;
      opacity: 1;
    }
    100% {
      transform: scale(1);
      transform-origin: 100% 50%;
      opacity: 1;
    }
  }
  @media (min-width: 768px) {
    width: 380px;
    height: 380px;
    bottom: -100px;
    right: -40px;
    border-radius: 50%;
    padding: 45px 15px 0;
  }

  .cookie-headline {
    font-size: $normal;
    font-weight: 700;
    padding: 8px 0;
    @media (min-width: 768px) {
      font-size: $normal-plus;
    }
  }

  .cookie-description {
    font-size: $sign-up;
    padding-bottom: 5px;
    @media (min-width: 768px) {
      font-size: $sign-up;
      width: 260px;
      padding-bottom: 15px;
    }
  }

  .cookie-link-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cookie, .cookie-btn {
    font-size: $inbox-counter;
    margin: 5px;
    @media (min-width: 768px) {
      font-size: $lang-item;
    }
  }

  .cookie {
    font-weight: 600;
    color: $black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s linear;

    &:hover {
      text-decoration: underline;
    }
  }

  .cookie-btn {
    font-weight: 600;
    border: 1px solid $white;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    padding: 5px 10px;
    transition: border .3s linear;

    &:hover {
      border: 1px solid $black;
    }
  }
}

//********************************************** SEARCH SECTION ********************************
//***********************************************************************************************

#hero-section {
  width: 100%;
  min-height: 100vh;
  background: url("../img/main-bg-last.jpg") no-repeat center / cover;
  position: relative;
}

.headline-block {
  max-width: 872px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 20px;
}

//********************************************** Headline ************************************
.hero-headline {
  font-size: $running-line-size;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  @media (min-width: 576px) {
    font-size: $h3;
    line-height: 45px;
    padding: 0 0 22px 0;
  }
  @media (min-width: 768px) {
    font-size: $main-headline;
    line-height: 55px;
  }
  @media (min-width: 1200px) {
    font-size: $hero-headline;
    line-height: 72px;
    padding: 150px 0 22px 0;
  }

  span span {
    color: $aquamarine;
  }
}

//********************************************** Title`s ************************************
.hero-title {
  font-size: $normal;
  @media (min-width: 576px) {
    font-size: $card-description;
  }
  @media (min-width: 768px) {
    font-size: $normal-plus;
    line-height: 35px;
  }
}

//********************************************** Btns block ************************************
.hero-btns {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  margin-top: 41px;
  @media (min-width: 576px) {
    width: auto;
    min-width: 392px;
    max-width: none;
  }
}

.hero-btns-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.hero-btn {
  @include btn;
  width: calc(50% - 8px);
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 17px 0;
  @media (min-width: 768px) {
    font-size: $normal;
  }

  &:hover {
    @include btn-hover;
  }
}

.hero-btn-join {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: $lang-item;
  line-height: 25px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid $aquamarine;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 10px;
  @media (min-width: 768px) {
    font-size: $menu-link;
  }

  &:hover {
    @include btn-hover;
    color: $black;
  }
}


//********************************************** Customers Section ******************************
//***********************************************************************************************
@keyframes slideOutUp {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.owl-carousel .animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#customers {
  width: 100%;
  background: $green-gradient;

  .customers-wrapper {
    max-width: 996px;
    text-align: center;
    margin: 0 auto;
  }

  .customers-content {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 88px;
  }

  .customers-title {
    @include headline;
    margin-bottom: 16px;
  }

  .customers-description {
    font-size: $normal;
    color: $white;
    @media (min-width: 576px) {
      font-size: $normal-description;
    }
    @media (min-width: 768px) {
      font-size: $big-description;
    }
  }

  //********************************************** Find customer block ***************************
  .find-customer {
    width: 100%;
    background: url("../img/photo-colage.png") no-repeat center / contain;

    .text-block {
      width: 90%;
      text-align: center;
      padding: 50px 0 150px;
      margin: 0 auto;
      @media (min-width: 768px) {
        width: 70%;
        padding: 30px 0 290px;

      }

      .find-customer-headline {
        font-size: $card-headline;
        font-weight: 600;
        text-transform: uppercase;
        color: $aquamarine;
        padding-bottom: 25px;

        @media (min-width: 768px) {
          font-size: $hero-title;
          line-height: 63px;
          padding-bottom: 61px;
        }
        @media (min-width: 1200px) {
          font-size: 80px;
          line-height: 100px;
          padding-bottom: 30px;
        }

        span {
          display: block;
        }
      }

      .find-customer-description {
        font-size: $normal-description;
        padding-bottom: 30px;
        margin: 0 auto;
        @media (min-width: 576px) {
          font-size: $card-headline;
        }
      }

      .find-customer-btn {
        @include btn;
        padding: 15px 25px;
        @media (min-width: 768px) {
          padding: 15px 25px;
        }

        &:hover {
          @include btn-hover;
        }
      }
    }
  }
}

//********************************************** Section Solutions ******************************
//***********************************************************************************************

#solutions {
  width: 100%;
  background: $solution-gradient;
  padding: 99px 0 92px;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    width: 275px;
    height: 441px;
    background: url("../img/right-bottom-bg-element.png") no-repeat center;
    position: absolute;
    bottom: 90px;
    right: 0;
    z-index: 1;
    display: none;
    @media (min-width: 576px) {
      display: block;
    }

  }

  &:before {
    content: "";
    width: 176px;
    height: 311px;
    background: url("../img/left-bottom-bg-element.png") no-repeat center;
    position: absolute;
    bottom: 90px;
    left: 0;
    z-index: 1;
    display: none;
    @media (min-width: 576px) {
      display: block;
    }
  }

  //********************************************** Solutions text ***************************
  .solutions-text {
    width: 90%;
    text-align: center;
    padding-bottom: 50px;
    margin: 0 auto;
    z-index: 5;

    .solutions-headline {
      @include headline;
      margin-bottom: 16px;
    }

    .solution-description {
      font-size: $normal;
      color: $silver;
      @media (min-width: 576px) {
        font-size: $normal-description;
      }
      @media (min-width: 768px) {
        font-size: $big-description;
      }
    }
  }

  //********************************************** Solutions cards ***************************
  .solutions-cards {
    text-align: center;

    //------------------------------------- Tabs -------------------------------------
    .solutions-tabs-list {
      max-width: 580px;
      display: flex;
      margin: 0 auto 15px;
    }

    .tab-link {
      width: 50%;
      font-size: $lang-item;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $silver;
      border-bottom: 1px solid $silver;
      cursor: pointer;
      padding: 11px 0;
      @media (min-width: 576px) {
        font-size: $normal;
      }
      @media (min-width: 768px) {
        font-size: $normal-plus;
      }
    }

    .tab-link.current {
      color: $white;
      border-bottom: 2px solid $white;
    }

    .tab-content {
      display: none;
    }

    .tab-content.current {
      display: inherit;
    }

    .solutions-cards-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 17px 0 53px;
      z-index: 4;
      @media (min-width: 768px) {
        flex-direction: row;
        padding: 17px 0 53px;
      }
      //********************************************** Card item *******************************
      .solutions-cards-item {
        width: 100%;
        max-width: 360px;
        min-height: 350px;
        padding: 46px 25px 28px;
        margin: 20px 10px;
        box-sizing: border-box;
        z-index: 4;
        @media (min-width: 576px) {
          min-height: 389px;
        }
        @media (min-width: 768px) {
          width: 33%;
          margin: 0 10px;
        }
        @media (min-width: 992px) {
          padding: 46px 35px 28px;
        }

        .card-number {
          display: flex;
          justify-content: center;
          align-items: center;
          @media (min-width: 768px) {
            justify-content: space-between;
          }

          img {
            width: 60px;
            height: auto;
          }

          span {
            font-size: $normal-plus;
            font-weight: 700;
            color: $black;
            @media (min-width: 576px) {
              font-size: $normal-description;
            }
            @media (min-width: 992px) {
              font-size: $big-description;
            }
          }
        }

        .card-text {
          text-align: center;
          padding-top: 50px;
          @media (min-width: 768px) {
            text-align: left;
          }

          .card-headline {
            font-size: $normal-plus;
            font-weight: 700;
            line-height: 24px;
            color: $black;
            padding-bottom: 10px;
            @media (min-width: 768px) {
              font-size: $benefits-title;
              line-height: 27px;
            }
            @media (min-width: 1200px) {
              font-size: 35px;
              line-height: 37px;

            }

            span {
              display: inline-block;
              @media (min-width: 768px) {
                display: block;
              }
            }
          }

          .card-description {
            font-size: $normal;
            line-height: 20px;
            color: $black;
            @media (min-width: 576px) {
              font-size: $menu-link;
              line-height: 23px;
            }
            @media (min-width: 992px) {
              font-size: $card-description;
              line-height: 27px;
            }
          }
        }
      }

      //********************************************** Card`s BG *******************************
      .solutions-cards-item:first-child {
        background: $cards-melrose;
      }

      .solutions-cards-item:nth-child(2) {
        background: $cards-casablanca;
      }

      .solutions-cards-item:nth-child(3) {
        background: $cards-french;
      }
    }
  }

  //********************************************** Solutions btn ********************************
  .solutions-btn {
    @include btn;
    padding: 15px 25px;
    display: block;
    margin: 0 auto;
    z-index: 5;
    @media (min-width: 768px) {
      padding: 15px 25px;
    }

    &:hover {
      @include btn-hover;
    }
  }

  .bg-element {
    position: absolute;
    top: 30%;
    left: 0;
  }

  .second-bg-element {
    position: absolute;
    bottom: 6%;
    right: 0;
  }
}

//********************************************** Digital section ********************************
//***********************************************************************************************
#digital {
  background-color: $code-gray;
  padding: 100px 0 50px;
  @media (min-width: 768px) {
    padding: 97px 0 143px;
  }
  //********************************************** Digital text block ***************************
  .digital-text {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    @media (min-width: 768px) {
      padding-bottom: 65px;
    }

    .digital-headline {
      @include headline;
    }

    .digital-description {
      font-size: $normal;
      color: $silver;
      @media (min-width: 576px) {
        font-size: $normal-description;
      }
      @media (min-width: 768px) {
        font-size: $big-description;
      }
    }
  }

  //********************************************** Digital slider ********************************
  .sliders {
    padding-bottom: 50px;

    .top-slider, .bottom-slider {
      .slider-item {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: $slider-gradient;
        }

        img {
          width: 100%;
        }

        .slide-title {
          position: absolute;
          bottom: 11px;
          left: 25px;
        }

        .slide-tag-list {
          .slide-tag-item {
            display: inline-block;
            margin: 5px 0;

            a {
              font-size: $inbox-counter;
              font-weight: 700;
              color: $white;
              background-color: rgba(27, 56, 54, 0.8);
              border-radius: 80px;
              padding: 5px 8px;
              transition: all .3s linear;

              &:hover {
                color: $black;
                background-color: $aquamarine;
              }
            }
          }
        }

        .slide-title-name {
          font-size: $normal;
          font-weight: 700;
          color: $white;
          transition: all .3s linear;
          @media (min-width: 992px) {
            font-size: $normal-plus;
          }

          &:hover {
            color: $aquamarine;
          }
        }
      }
    }
  }

  //********************************************** Discover link *********************************
  .discover-block {
    text-align: center;

    .discover-link {
      @include discover-link;
    }
  }

  //********************************************** Projects ***************************************
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
    @media (min-width: 992px) {
      flex-direction: row;
      align-items: start;
      padding-top: 143px;
    }

    &:after {
      content: url("../img/digital-bg-element.png");
      position: absolute;
      top: -67px;
      left: -50px;
    }
  }

  //********************************************** Project text block *****************************
  .project-text-block {
    width: 90%;
    padding: 0 0 50px 0;
    text-align: center;
    @media (min-width: 992px) {
      width: 35%;
      padding: 30px 25px 0 0;
      text-align: left;
    }

    p {
      font-size: $normal;
      @media (min-width: 576px) {
        font-size: $normal-description;
      }
      @media (min-width: 992px) {
        font-size: $big-description;
      }
    }
  }

  //********************************************** Project list block *****************************
  .project-list-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      width: 80%;
      padding-left: 25px;
    }
    @media (min-width: 992px) {
      width: 65%;
      padding-left: 25px;
    }

    .project-list {
      padding-bottom: 68px;
    }

    .project-item {
      display: flex;
      border-radius: 6px;
      margin-bottom: 5px;
      overflow: hidden;
      @media (min-width: 992px) {
        height: 127px;
      }

      img {
        display: none;
        @media (min-width: 576px) {
          display: block;
          width: 147px;
          height: 127px;
        }
        @media (min-width: 992px) {
          width: 147px;
          height: 127px;
        }
      }

      .project-card {
        width: 100%;
        flex-grow: 2;
        background-color: $project-card;
        padding: 10px;
        @media (min-width: 992px) {
          padding: 20px 24px 20px 16px;
        }
      }

      //********************************************** Project card header *****************************
      .project-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .project-name {
          font-size: $normal;
          font-weight: 700;
          color: $white;
          transition: all .3s linear;
          @media (min-width: 992px) {
            font-size: $card-description;
          }

          &:hover {
            color: $aquamarine;
          }
        }

        .project-price {
          font-size: $normal;
          font-weight: 700;
        }
      }

      //********************************************** Project card text *****************************
      .project-card-description {
        padding: 12px 0 8px;

        p {
          font-size: $lang-item;
          color: $silver;
        }
      }

      //********************************************** Project card tags *****************************
      .project-card-tags {
        display: flex;
        flex-flow: wrap;
        align-items: center;

        .card-tag-item {
          display: inline-block;
          line-height: 28px;
          padding-right: 4px;
          margin-bottom: 4px;

          a {
            font-size: $sign-up;
            font-weight: 700;
            color: $white;
            background-color: $tuna;
            border-radius: 80px;
            padding: 5px 12px;
            transition: all .3s linear;

            &:before {
              content: "#";
            }

            &:hover {
              color: $black;
              background-color: $aquamarine;
            }
          }
        }
      }
    }

    //****************************** Project card last child gradient *****************************
    .project-item:last-child {
      .project-card {
        box-shadow: inset 0 -22px 13px 0 rgba(22, 22, 22, 0.9);
      }

      .project-card-img {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          box-shadow: inset 0 -22px 13px 0 rgba(22, 22, 22, 0.9);
        }
      }
    }
  }
}

//********************************************** Newsletter section ********************************
//**************************************************************************************************
#newsletter {
  padding: 50px 0;
  background: url("../img/newsletter-bg.jpg") no-repeat center / cover;
  @media (min-width: 768px) {
    padding: 99px 0 96px;
  }

  .newsletter-headline {
    @include headline;
    text-transform: none;
    margin-bottom: 30px;
  }

  .newsletter-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    margin: 0 auto;
    @media (min-width: 576px) {
      flex-direction: row;
      overflow: hidden;
    }
    @media (min-width: 768px) {
      width: 75%;
    }
  }

  .newsletter-input, .newsletter-submit {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 6px;

    @media (min-width: 576px) {
      width: auto;
      border-radius: 0;
    }
    @media (min-width: 768px) {
      height: 64px;
    }
  }

  .newsletter-input {
    flex-grow: 2;
    padding-left: 24px;
    font-size: $menu-link;
    color: $black;
    border: none;
  }

  .newsletter-input[type="search"]::-webkit-search-decoration,
  .newsletter-input[type="search"]::-webkit-search-cancel-button,
  .newsletter-input[type="search"]::-webkit-search-results-button,
  .newsletter-input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
  }

  .newsletter-input::placeholder {
    font-size: $menu-link;
    color: $black;
  }

  .newsletter-submit {
    font-size: $normal;
    font-weight: 700;
    color: $black;
    background-color: $aquamarine;
    border: 1px solid $aquamarine;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    padding: 0 62px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s linear;
    @media (min-width: 576px) {
      margin-top: 0;
    }
    @media (min-width: 768px) {
      font-size: $btn-size;
    }

    &:hover {
      @include btn-hover;
    }
  }
}

//********************************************** Contact-us **************************************
//************************************************************************************************
#contact-us {
  padding: 35px 0 40px;
  background: $contact-us-gradient;
  text-align: center;
  @media (min-width: 768px) {
    padding: 70px 0 89px;
  }

  .contact-icon {
    width: 52px;
    height: auto;
  }

  .contact-title {
    @include headline;
    text-transform: none;
    text-align: center;
    color: $white;
  }

  .contact-description {
    font-size: $normal;
    line-height: 21px;
    text-align: center;
    color: $white;
    @media (min-width: 768px) {
      font-size: $btn-size;
      line-height: 31px;
    }

    a {
      font-weight: 700;
      text-decoration: underline;
      color: $white;
    }
  }
}

//********************************************** Footer ******************************************
//************************************************************************************************
#footer {
  background: $newsletter-gradient;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 20px;
    }
  }

  .logo {
    padding-bottom: 20px;

    img {
      width: 146px;
      height: auto;
      display: block;
    }

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  .copyright {
    font-size: $lang-item;
    color: $white;
    padding-bottom: 5px;
    @media (min-width: 768px) {
      padding: 0;
    }
  }
}


