@import "mixins";
@import "variables";

//********************************************** Dashboard section ******************************
//***********************************************************************************************
#dashboard-section {
  width: calc(100% - 250px);
  min-height: 100vh;
  background: $dashboard-section-bg;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 2;
  //************************************* Dashboard section wrapper ******************************
  .dashboard-section-wrapper {
    max-width: 940px;
    position: relative;
    margin: 0 auto;
  }
  //**************************************** Dashboard section header ****************************
  .dashboard-section-header {
    padding-top: 64px;
    background: $dashboard-section-bg;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  //*********************************** Dashboard section header top *****************************
  .dashboard-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid $mystic;

    .pages-list {
      display: flex;
      align-items: center;

      .pages-item-link {
        position: relative;
        font-size: $normal-description;
        font-weight: 500;
        color: $waterloo;
        margin-right: 20px;
      }

      .active-page-link {
        color: $black;

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: $tundora;
          position: absolute;
          bottom: -12px;
          right: 0;
        }
      }
    }
    .creator {
      position: relative;
      padding: 8px 0;
      border-radius: 4px;
      overflow: hidden;
      .creator-text {
        font-size: $lang-item;
        font-weight: 700;
        color: $black;
        background-color: $aquamarine;
        padding: 10px 55px 10px 16px;

      }
      .creator-plus {
        font-size: $normal;
        background-color: $aquamarine-hover;
        padding: 12px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
  //*********************************** Dashboard section header bottom *****************************
  .dashboard-header-bottom {
    padding: 24px 0 40px;
    .selectors-list {
      display: flex;
      align-items: center;
      .selectors-items {
        padding-right: 16px;
      }
      .selectors-items:last-child {
        padding-right: 0;
      }
      //*********************************** Search **************************************************
      .search-btn {
        background-color: $white;
        border: 1px solid $alto;
        box-sizing: border-box;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        padding: 10px 10px 7px;
        cursor: pointer;
      }

      //*********************************** Selectors ************************************************
      .roles-selector, .location-selector {

        .dropdown, .dropdown-roles, .dropholder-roles {
          background-color: $white;
        }

        .dropdown, .dropdown-roles {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $white;
          position: relative;
          cursor: pointer;

          .holder {
            font-size: $lang-item;
            color: $black;
            border: 1px solid $alto;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
            border-radius: 4px;
            padding: 7px 34px 7px 16px;
          }

          .selector-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            transition: transform .3s linear;

            &:before {
              font-weight: 700;
            }
          }
        }
        .active {
          .selector-icon {
            transform: translateY(-50%) rotate(180deg);
          }
          .dropdownOption-roles {
            display: block;
          }
        }
        .dropholder-roles {
          width: 100%;
          height: 100%;
          color: $black;
          position: relative;
        }
        .dropdownOption-roles {
          display: none;
          width: 300px;
          position: absolute;
          left: 0;
          top: 100%;
          right: 0;
          background: $white;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          margin: 16px 0;
          padding: 16px;
          cursor: pointer;
          overflow: hidden;
          z-index: 5;

          .roles-search-block {
            position: relative;
            margin-bottom: 6px;
            overflow: hidden;
            .roles-search {
              width: 100%;
              border: 1px solid $mystic;
              box-sizing: border-box;
              border-radius: 4px;
              padding: 10px 16px;
              &::placeholder {
                color: $black;
              }
            }
            .roles-search-btn {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              background-color: transparent;
              padding: 15px;
              border: none;
              cursor: pointer;
            }
          }

          .checkbox-item {
            padding: 6px 0;
          }
          .roles-checkbox {
            display: none;
            cursor: pointer;
          }
          label {
            position: relative;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &:after {
              content:'';
              -webkit-appearance: none;
              background-color: transparent;
              border: 1px solid $mystic;
              border-radius: 4px;
              padding: 10px;
              display: inline-block;
              position: relative;
              vertical-align: middle;
              cursor: pointer;
            }
          }
          .checkbox-item input:checked + label:before {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            right: 7px;
            width: 6px;
            height: 8px;
            border: solid $tundora;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  //*********************************** Section content **************************************
  .dashboard-section-content {
    //*********************************** Creators list **************************************
    .creators-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .creator-card-item {
        width: 32%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 20px;
      }
      .creator-data {
        border-bottom: 1px solid $alto;
        padding-bottom: 6px;
      }
      .creator-image {
        width: 100%;
        height: auto;
      }
      .card-content {
        padding: 16px;
      }
      .creator-name {
        @include dashboard-card-headline;
      }
      .creator-address {
        @include dashboard-card-description;
      }
      .tags-list {
        padding: 6px 0 16px;
        .tag-item {
          display: inline-block;
          padding: 6px 4px;
          .tag-link {
            @include tag-link;
          }
        }
      }
      .card-links-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-link {
          @include card-btn;
        }
      }
    }
  }
}

