@import "mixins";
@import "variables";

//********************************************** Dashboard section ******************************
//***********************************************************************************************
.dashboard-section {
  width: 100%;
  min-height: 100vh;
  background: $dashboard-section-bg;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 2;
  position: relative;
  @media (min-width: 992px) {
    width: calc(100% - 200px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
.hidden {
  overflow: hidden;
}
.menu-overlay {
  height: 100vh;
  display: none;
  background: rgba(62, 62, 62, 0.8);
  position: fixed;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.active-menu-overlay {
  display: block;
}
.mobile-create-brief {
  width: 100%;
  display: block;
  @include btn;
  font-size: $normal;
  text-transform: uppercase;
  padding: 12px 0;
  margin-top: 12px;
  @media (min-width: 768px) {
    font-size: $normal;
  }
  @media (min-width: 992px) {
    display: none;
  }
}
//************************************* Dashboard section wrapper ******************************
.dashboard-section-wrapper {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  @media (min-width: 992px) {
    padding: 0 3%;
  }
}
.small-section-wrapper {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}
//************************************* Dashboard mobile block ******************************
.mobile-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  padding: 10px 15px;
  position: relative;
  @media (min-width: 992px) {
    display: none;
  }
}
.mobile-block-title {
  font-weight: 500;
  font-size: $card-description;
  color: $black;
}
.back-to-main {
  display: flex;
  align-items: center;
}

//********************************************** Burger btn ********************************

.burger-icon {
  width: 18px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  cursor: pointer;
  @media (min-width: 992px) {
    display: none;
  }

}

.burger-icon-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: $black;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: $black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
}

.burger-icon-line::before {
  top: 5px;
}

.burger-icon-line::after {
  top: -5px;
}

.burger-icon.burger-icon-active .burger-icon-line {
  background-color: transparent;
}

.burger-icon.burger-icon-active .burger-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger-icon.burger-icon-active .burger-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
//**************************************** Dashboard section header ****************************
.dashboard-section-header {
  background: $dashboard-section-bg;
  position: sticky;
  top: 0;
  z-index: 3;
  @media (min-width: 992px) {
    border: none;
    padding-top: 64px;
  }
}

//*********************************** Dashboard section header top *****************************
.dashboard-header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-top: 1px solid $mobile-border;
  border-bottom: 1px solid $mobile-border;
  padding: 0 10px;
  @media (min-width: 992px) {
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 12px;
    border-top: none;
    border-bottom: 1px solid $mystic;
  }
}
.mobile-dashboard-header-top {
  display: none;
  @media (min-width: 992px) {
    display: flex;
  }
}

.dashboard-header-title {
  font-size: $log-in;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  padding: 12px 0;
  @media (min-width: 992px) {
    font-size: $running-line-size;
    text-transform: none;
    padding: 0;
  }
}

.pages-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 992px) {
    width: auto;
    justify-content: flex-start;
  }
  .pages-item {
    width: 100%;
    text-align: center;
    @media (min-width: 992px) {
      width: auto;
      text-align: left;
    }
  }

  .pages-item-link {
    display: block;
    position: relative;
    font-size: $log-in;
    font-weight: 500;
    text-transform: uppercase;
    color: $waterloo;
    padding: 12px 0;
    @media (min-width: 992px) {
      display: inline;
      font-size: $running-line-size;
      text-transform: none;
      padding: 0;
      margin-right: 20px;
    }
  }
  .inbox-page-headline {
    color: $black;
  }

  .active-page-link {
      color: $black;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $aquamarine;
        position: absolute;
        bottom: 0;
        right: 0;
        @media (min-width: 992px) {
          background-color: $tundora;
          bottom: -12px;
        }
      }
  }
}

.creator {
  display: none;
  @media (min-width: 992px) {
    display: block;
    position: relative;
    padding: 8px 0;
    border-radius: 4px;
    overflow: hidden;
  }


  .creator-text {
    font-size: $lang-item;
    font-weight: 700;
    color: $black;
    background-color: $aquamarine;
    padding: 10px 55px 10px 16px;

  }

  .creator-plus {
    font-size: $normal;
    color: $white;
    background-color: $aquamarine-hover;
    padding: 12px;
    position: absolute;
    top: -2px;
    right: 0;
    cursor: pointer;
  }
}


//*********************************** Dashboard section header bottom *****************************
.dashboard-header-bottom {
  padding: 10px 10px;
  @media (min-width: 992px) {
    padding: 24px 0 40px;
  }
}


  .selectors-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    .selectors-items:first-child {
      padding-right: 0;
    }
    .selectors-items {
      padding-right: 5px;
      @media (min-width: 992px) {
        padding-right: 16px;
      }
    }

    .selectors-items:last-child {
      padding-right: 0;
    }
  }

    //*********************************** Search **************************************************
    .search-input {
      display: block;
      width: 25px;
      height: 25px;
      border: 1px solid $selector-border;
      box-sizing: border-box;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      background-color: $white;
      background-image: url('../img/icons/search-icon.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-transition: width 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 2;
      overflow: hidden;
      @media (min-width: 992px) {
        width: 33px;
        height: 33px;
      }
      &::placeholder {
        color: transparent;
      }
    }
    .search-input-mobile {
      bottom: 0;
      transform: translateY(0);
      @media (min-width: 576px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .search-input:focus {
      width: 100%;
      right: 0;
      background-position: 90% 50%;
      padding-left: 16px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.11);
      &::placeholder {
        color: $placeholder;
      }
      @media (min-width: 1600px) {
        width: 420px;
      }
    }

    //*********************************** Selectors ************************************************

    .roles-selector, .location-selector, .project-selector {
      .dropdown-location, .dropdown-roles, .dropdown-project {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        position: relative;
        cursor: pointer;

        .holder {
          font-size: $inbox-counter;
          color: $black;
          border: 1px solid $selector-border;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
          box-sizing: border-box;
          border-radius: 4px;
          padding: 4px 20px 4px 10px;
          @media (min-width: 992px) {
            font-size: $lang-item;
            padding: 6px 34px 7px 16px;
          }
        }

        .selector-icon {
          width: 10px;
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          transition: transform .3s linear;
          @media (min-width: 992px) {
            width: 14px;
            right: 10px;
          }

          &:before {
            font-weight: 700;
          }
        }
      }

      //********************** Active roles, location, project toggle class *****************************
      .active-roles, .active-location, .active-project {
        .selector-icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      //********************** Active search toggle class ******************************

      .dropholder-roles, .dropholder-location, .dropholder-project {
        width: 100%;
        height: 100%;
        color: $black;
        background-color: $white;
        @media (min-width: 576px) {
          position: relative;
        }
      }

      .dropdownOption-roles, .dropdownOption-location, .dropdownOption-project {
        display: none;
        width: 100%;
        height: auto;
        max-height: 300px;
        position: fixed;
        top: 138px;
        left: 0;
        right: 0;
        background: $white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin: 16px auto;
        padding: 16px;
        cursor: pointer;
        overflow-y: scroll;
        z-index: 5;
        box-sizing: border-box;
        ::-webkit-scrollbar {
          width: 0;
        }
        @media (min-width: 576px) {
          width: 300px;
          max-height: none;
          position: absolute;
          top: 100%;
          overflow: hidden;
        }

        form:nth-child(2) {
          padding-top: 20px;
        }

        //********************** Roles & Search & location styles *****************************
        .roles-search-block, .location-search-block, .project-search-block  {
          position: relative;
          margin-bottom: 6px;
          overflow: hidden;
          -webkit-appearance: none;

          .roles-search, .location-search, .project-search {
            width: 100%;
            border: 1px solid $mystic;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 10px 16px;

            &::placeholder {
              color: $black;
            }
          }

          .roles-search[type="search"]::-webkit-search-decoration,
          .roles-search[type="search"]::-webkit-search-cancel-button,
          .roles-search[type="search"]::-webkit-search-results-button,
          .roles-search[type="search"]::-webkit-search-results-decoration {
            display: none;
          }

          .project-search[type="search"]::-webkit-search-decoration,
          .project-search[type="search"]::-webkit-search-cancel-button,
          .project-search[type="search"]::-webkit-search-results-button,
          .project-search[type="search"]::-webkit-search-results-decoration {
            display: none;
          }

          .location-search[type="search"]::-webkit-search-decoration,
          .location-search[type="search"]::-webkit-search-cancel-button,
          .location-search[type="search"]::-webkit-search-results-button,
          .location-search[type="search"]::-webkit-search-results-decoration {
            display: none;
          }

          .roles-search-btn, .location-search-btn, .project-search-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: transparent;
            padding: 15px;
            border: none;
            cursor: pointer;
          }
        }

        .checkbox-item {
          padding: 6px 0;
        }

        .checkbox {
          display: none;
          cursor: pointer;
        }

        label {
          position: relative;
          display: flex;
          justify-content: space-between;
          cursor: pointer;

          &:after {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $mystic;
            border-radius: 4px;
            padding: 10px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
          }
        }

        .checkbox-item input:checked + label:before {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          right: 7px;
          width: 6px;
          height: 8px;
          border: solid $tundora;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }

        .selector-title {
          font-weight: 600;
          padding-bottom: 8px;
        }
      }
    }



//*********************************** Section business cabinet content *********************
.business-cabinet-content {
  margin: 0 auto;
}
  //*********************************** Creators list **************************************
  .creators-list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    margin: 0 auto;
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }


    .creator-card-item {
      width: 90%;
      max-width: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      overflow: hidden;
      margin: 0 5% 20px;
      display: flex;
      flex-direction: column;
      @media (min-width: 576px) {
        width: 80%;
        margin: 0 10% 20px;
      }
      @media (min-width: 768px) {
        width: calc(33.3% - 20px);
        margin: 0 10px 20px;
      }
      @media (min-width: 1280px) {
        width: calc(25% - 20px);
      }
    }
    .card-picture-block {
      display: flex;
      height: auto;
      border-bottom: 1px solid $alto;
      @media (min-width: 768px) {
        flex-direction: column;
        border: none;
      }
    }
    .creator-data {
      width: 65%;
      border-bottom: none;
      box-sizing: border-box;
      padding: 5px;
      @media (min-width: 768px) {
        width: 100%;
        border-bottom: 1px solid $alto;
        padding: 10px;
      }
    }
    .creator-image-block {
      width: 35%;
      @media (min-width: 768px) {
        width: 100%;
      }
    }
    .creator-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 5px;
      @media (min-width: 768px) {
        padding: 10px;
      }
    }

    .creator-name {
      @include dashboard-card-headline;
    }

    .creator-address {
      @include dashboard-card-description;
    }

    .tags-list {
      padding: 6px 0 10px;
      @media (min-width: 768px) {
        padding: 6px 0 16px;
      }

      .tag-item {
        display: inline-block;
        padding: 6px 0;
        @media (min-width: 768px) {
          padding: 6px 2px;
        }

        .tag-link {
          @include tag-link;
        }
      }
    }

    .card-links-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-grow: 1;

      .card-link-item {
        width: calc(50% - 6px);
      }
      .card-link {
        @include card-btn;
      }
    }



//*********************************** Section business profile content *********************
.business-profile-content {
  max-width: 940px;
  padding: 32px 10px 40px;
  margin: 0 auto;
  @media (min-width: 992px) {
    padding: 32px 0 40px;
  }
}

.profile-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.profile-parts-item {
  width: 100%;
  box-sizing: border-box;
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 1200px) {
    width: calc(50% - 10px);
  }

  .profile-part-headline {
    @include h3-title;
  }
}
//*********************************** profile block *********************
.profile-block {
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-radius: 4px;
  padding: 24px;
  margin: 8px 0 32px;
  box-sizing: border-box;
}

.profile-block-custom {
  height: auto;
  padding: 24px 24px 32px;
}

.profile-parts-item:last-child {
  .profile-block {
    height: auto;
  }
}

.upload-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}

.upload-photo {
  width: 158px;
  height: 158px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  @media (min-width: 576px) {
    margin-bottom: 0;
  }
}

.upload-options {

  text-align: center;
  @media (min-width: 1200px) {
    flex-grow: 1;
  }

  input[type="file"] {
    display: none;
  }
}

.upload-btn, .change-pass-btn {
  display: inline-block;
  font-size: $lang-item;
  font-weight: 700;
  color: $black;
  background-color: $white;
  border: 1px solid $mercury;
  box-sizing: border-box;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 30px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color .3s linear;
  &:hover {
    background-color: $mercury;
  }
}

.change-pass-btn {
  width: 165px;
  display: block;
  padding: 11px 0;
  margin: 32px 0 0 auto;
}

.profile-input-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-input-item {
  padding-bottom: 24px;
  position: relative;
}
.profile-input-item:last-child {
  padding-bottom: 0;
}
.profile-selector-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.profile-selector-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  &:first-child {
    padding-top: 0;
  }
  @media (min-width: 768px) {
    width: calc(50% - 8px);
    padding-top: 0;
    &:last-child {
      width: 100%;
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

//.profile-selector-item:last-child {
//  width: 100%;
//  padding-top: 24px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//}

.profile-label {
  @include label;
}

.profile-input {
  width: 100%;
  @include input-style;
}
.profile-input-wrapper {
  position: relative;
}
.input-btn-wrapper {
  padding: 9px 80px 9px 16px;
}
.btn-inside-input {
  width: 72px;
  font-weight: 600;
  font-size: $sign-up;
  color: $black;
  background: $white;
  border: 1px solid $mercury;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 6px 0 5px;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color .3s linear;
  &:hover {
    background-color: $mercury;
  }
}

#show-current-password, #show-new-password, #show-confirm-password {
  display: none;
}
.current-password, .new-password, .confirm-password {
  font-size: $inbox-counter;
  color: $show-pass;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

//*********************************** Wrong password class *********************

.wrong-pass-description {
  font-size: $wrong-pass-font;
  color: $wrong-pass;
  position: absolute;
  bottom: -20px;
  @media (min-width: 768px) {
    font-size: $inbox-counter;
  }
}
.wrong-password {
  .profile-input {
    border: 1px solid $wrong-pass;
  }
  .wrong-pass-description {
    display: block;
  }
}

//*********************************** Phone selector *********************************

.selector {
  font-size: $lang-item;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../img/icons/selector-icon.svg") no-repeat center right 10px;
  &::-ms-expand { /* для IE */
    display: none;
  }
  option {
    font-size: $lang-item;
    color: $black;
  }
}

.phone-verify-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}
#result {
  display: none;
}
.iti__country-name {
  color: $black;
}
.iti__selected-dial-code {
  color: $black;
  font-size: $lang-item;
}

.verify-btn {
  font-size: $lang-item;
  font-weight: 700;
  line-height: 20px;
  background-color: $white;
  border: 1px solid $alto;
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 9px 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color .3s linear;
  @media (min-width: 576px) {
    margin-top: 0;
  }
  &:hover {
    background-color: $mercury;
  }
}

.location-phone-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 1200px) {
    height: 454px;
  }
}
//*********************************** Skills selector *********************************
.skills-block {
  min-height: 212px;
  position: relative;
}
//*********************************** Save and Reset btn *********************************

.profile-btn-block {
  border-top: 1px solid $mystic;
  padding-top: 30px;
  text-align: right;
}
.save-btn, .reset-btn {
  font-size: $normal;
  font-weight: 700;
  color: $black;
  border: 1px solid $mercury;
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  @media (min-width: 768px) {
    padding: 13px 21px;
  }
}
.save-btn {
  margin-left: 8px;
  background-color: $aquamarine;
  transition: background-color .3s linear;
  &:hover {
    background-color: $aquamarine-hover;
  }
}
.reset-btn  {
  margin-right: 8px;
  background-color: $white;
  transition: background-color .3s linear;
  &:hover {
    background-color: $mercury;
  }
}

//************************************************************************************
//*********************************** Section business MY BRIEFS *********************
//************************************************************************************


//********************************************* Filter btn ***************************
.filter-menu-block {
  position: relative;
  flex-grow: 1;
  width: 100%;
  @media (min-width: 576px) {
    flex-grow: 0;
    width: auto;
  }
}
.filter-menu-block-mobile {
  margin-top: 10px;
  @media (min-width: 576px) {
    margin: 0;
  }
}
.dropdown-toggle {
  display: block;
  position: relative;
  font-size: $sign-up;
  line-height: 22px;
  color: $black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 20px;
  @media (min-width: 992px) {
    font-size: $normal;
    line-height: 22px;
  }
  &:before {
    content: "\61";
    font-family: untitled-font-1, sans-serif;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  @media (min-width: 992px) {
    display: none;
  }
}
.filters-button-group {
  width: auto;
  display:none;
  background-color: $white;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-radius: 4px;
  padding: 16px;
  overflow: hidden;
  z-index: 5;
  box-sizing: border-box;
  @media (min-width: 992px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    cursor: auto;
    overflow: hidden;
    z-index: 1;
    padding: 0 24px 0 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    @media (min-width: 992px) {
      justify-content: center;
      margin-right: 24px;
    }
  }
}

//********************************************* btn ***************************
.btn-filter {
  width: 100%;
  font-size: $lang-item;
  line-height: 22px;
  text-align: left;
  color: $black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 4px;
  @media (min-width: 992px) {
    font-size: $normal;
    line-height: 22px;
  }
}

//********************************************* counter ************************
.briefs-counter {
  font-size: 10px;
  line-height: 14px;
  color: $black;
  background-color: $mystic;
  border-radius: 80px;
  padding: 2px 6px;
  @media (min-width: 768px) {
    padding: 4px 8px;
  }
}

//********************************************* active btn *********************
.active-btn-filter {
  position: relative;
  .btn-filter {
    font-weight: 700;
  }
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.column {
  column-count: 3;
}

.brief-description {
  @include dashboard-card-description;
}

.brief-link {
  @include card-btn;
}
//********************************************* BRIEF INFO *********************

.brief-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 10px;
  @media (min-width: 768px) {
    padding: 10px 0 16px;
  }
}
.brief-status, .brief-price{
  font-size: $lang-item;
  line-height: 17px;
  text-transform: uppercase;
  color: $black;
}
.brief-status {
  font-weight: 700;
}
.brief-price {
  span {
    font-weight: 700;
  }
}

//*********************************** Section business INBOX *********************

.business-inbox-content {
  max-width: 940px;
  height: calc(100vh - 73px);
  background-color: $athens-gray;
  box-shadow: 0 2px 12px rgba(219, 219, 219, 0.8);
  border-radius: 4px;
  margin: 15px auto 0;
  position: relative;
  display: flex;
  padding: 0 15px;
  @media (min-width: 768px) {
    height: 70vh;
    padding: 0;
    margin: 32px auto 0;
  }
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar { /* chrome based */
    width: 0;  /* ширина scrollbar'a */
  }
}
.mobile-inbox-search-block {
  @media (min-width: 768px) {
    display: none;
  }
}
.search-inbox-input {
  right: 50px;
  &:focus {
    width: calc(100% - 65px);
    right: 50px;
  }
}

.selected-author-name-block {
  display: none;
  align-items: center;
}
  .back-to {
    background-color: transparent;
    border: none;
    margin-right: 9px;
    padding: 0;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: -8px;
    outline: none;
    &:focus, &:active {
      outline: none;
      color: black;
      background-color: transparent;
    }
    &:before {
      font-size: 24px;
    }
  }
  .inbox-title-author-name {
    font-weight: 500;
    font-size: $card-description;
    color: $black;
  }


.incoming-message-counter {
  color: $aquamarine;
}


//*********************************** LEFT INBOX BLOCK **************************

.left-inbox-block {
  width: 100%;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  position: relative;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @keyframes scale-up-hor-left {
    0% {
      transform: scaleX(0.4);
      transform-origin: 0 0;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 0 0;
    }
  }
  @media (min-width: 768px) {
    width: 40%;
  }
  @media (min-width: 1200px) {
    width: 35%;
  }
}
.author-search-block {
  display: none;
  position: sticky;
  top: 0;
  background-color: $white;
  padding: 24px 16px;
  @media (min-width: 768px) {
    display: block;
  }
}
.author-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author-search-input {
  flex-grow: 1;
  background-color: $white;
  border: none;
  outline: none;
  &::placeholder {
    text-transform: uppercase;
    color: $black;
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}
.author-search-btn {
  background-color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  img {
    width: 18px;
    height: 18px;
  }
}
.massage-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 6px 10px;
  border-bottom: 1px solid $inbox-border;
  cursor: pointer;
}

.author {
  width: 100%;
  display: flex;
  align-items: center;
}
.massage-author-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.massage-author-photo {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  box-sizing: border-box;
}
.massage-author-name-block, .massage-author-description-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.massage-time {
  color: $black;
}
.last-massage {
  font-size: $lang-item;
  line-height: 17px;
  color: $last-massage-color;
}
.new-massage-indicator {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
}
.new-massage-active {
  background-color: $aquamarine;
}
.active-chat {
  background-color: $athens-gray;
  .massage-author-photo {
    border: 2px solid $aquamarine;
  }
}

//*********************************** RIGHT INBOX BLOCK **************************

.right-inbox-block {
  width: 100%;
  background-color: $athens-gray;
  position: relative;
  display: none;
  flex-direction: column;
  padding: 32px 10px 56px;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @keyframes scale-up-hor-right {
    0% {
      transform: scaleX(0.4);
      transform-origin: 100% 100%;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 100% 100%;
    }
  }
  @media (min-width: 768px) {
    width: 60%;
    display: flex;
    padding: 32px 24px 56px;
  }
  @media (min-width: 1200px) {
    width: 65%;
  }
}

.right-inbox-massage {
  overflow-y: scroll;
}

//*********************************** Incoming and outgoing message ***************
.incoming-message-block {
  width: 98%;
  margin-right: auto;
  margin-bottom: 22px;
  @media (min-width: 768px) {
    width: 90%;
    margin-bottom: 32px;
  }
}

.outgoing-message-block {
  width: 98%;
  text-align: right;
  margin-left: auto;
  margin-bottom: 22px;
  @media (min-width: 768px) {
    width: 90%;
    margin-bottom: 32px;
  }
}

.chat-author {
  font-weight: 700;
  font-size: $normal;
  line-height: 22px;
  color: $black;
}

.message-text {
  font-size: $lang-item;
  line-height: 19px;
  color: $black;
}

.incoming-message, .outgoing-message {
  background: $white;
  border: 1px solid $iron;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 16px;
  margin-top: 12px;
  position: relative;
  &:before {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid $white;
    position: absolute;
  }
}

.incoming-message {
  &:before {
    top: -20px;
    left: 30px;
  }
}
.outgoing-message {
  text-align: left;
  &:before {
    top: -20px;
    right: 30px;
  }
}

.send-massage-block {
  background-color: $white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 16px;
}
.send-textarea-form {
  display: flex;
  align-items: center;
}

.massage-textarea {
  height: 16px;
  font-size: $lang-item;
  line-height: 19px;
  color: $black;
  padding: 20px 10px 20px 10px;
  flex-grow: 1;
  border: none;
  &::placeholder {
    font-size: $lang-item;
    line-height: 19px;
    color: $black;
  }
}

.massage-send-btn {
  width: 68px;
  text-align: center;
  font-weight: 700;
  font-size: $inbox-counter;
  color: $black;
  background-color: $aquamarine;
  border: none;
  border-radius: 4px;
  padding: 7px 0;
  cursor: pointer;
}

//************************************************************************************
//*********************************** Section business CREATE BRIEF ******************
//************************************************************************************

//*********************************** CREATE BRIEF header navigation *****************

.project-name-block {
  display: flex;
  align-items: center;
}

.business-link {
  font-size: $menu-link;
  line-height: 25px;
  color: $black;
  padding-right: 29px;
  position: relative;
  &:after {
    content: "\e00e";
    font-family: untitled-font-1, sans-serif;
    color: $black;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}

//*********************************** CREATE BRIEF steps *****************

.create-steps {
  display: flex;
  align-items: center;
  background-color: $create-steps-bg;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 20px 40px;
  margin-top: 24px;
}
.step-item {
  display: flex;
  align-items: center;
  padding-right: 24px;
  &:before {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $inbox-counter;
    text-align: center;
    color: $create-steps-bg;
    background-color: $create-steps-title;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 8px;
  }
}
.step-item:first-child {
  &:before {
    content: "1";
  }
}
.step-item:nth-child(2) {
  &:before {
    content: "2";
  }
}
.create-step-title {
  font-weight: 700;
  font-size: $menu-link;
  color: $create-steps-title;
}
.active-step-item {
  .create-step-title {
    color: $black;
  }
  &:before {
    background-color: $black;
  }
}

//*********************************** CREATE BRIEF content *****************

.business-create-brief-content {
  background-color: $white;
  padding: 0 40px 32px;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 300px;
}
.key-details-list {
  padding-top: 10px;
}
.key-details-item {
  background-color: $white;
  border-bottom: 1px solid $mystic;
  padding: 24px 0 32px;
}
.key-details-headline {
  @include h3-title;
}

//*********************************** CREATE BRIEF preview photo *************

.upload-image-block {
  display: flex;
  align-items: center;
  padding: 15px 0 17px;
}
.brief-preview-photo {
  display: block;
  width: 302px;
  height: auto;
}
.upload-image-options {
  padding-left: 40px;
  .image-upload {
    display: none;
  }
  .image-upload-description {
    font-size: $inbox-counter;
    color: $black;
    padding-top: 12px;
  }
}

//*********************************** CREATE BRIEF company name *************
.check-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.check-icon-style {
  &:before {
    content: "\e014";
    font-family: untitled-font-1, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $create-steps-title;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.active-check-icon-style {
  &:before {
    background-color: $check-green;
  }
}

.key-input-wrapper {
  width: 100%;
  max-width: 412px;
}
.key-input-label {
  @include label;
}
.key-input {
  width: 100%;
  @include input-style;
}
//*********************************** CREATE BRIEF location *************

.location-radio-block {
  display: flex;
  padding-bottom: 24px;
}

.location-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  position: relative;
}
.location-label:first-child {
  padding-right: 24px;
}

.location-radio {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.design {
  width: 21px;
  height: 21px;
  border: 1px solid $alto;
  border-radius: 100%;
  margin-right: 4px;
  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: $check-green;
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: var(--primary);
  opacity: .4;
  transition: .6s;
}

.radio-text {
  font-size: $log-in;
  color: $black;
}

.location-radio:checked +.design::before {
  opacity: 1;
  transform: scale(.6);
}
//*********************************** CREATE BRIEF Budget *************

.currency-wrapper {
  width: 100%;
  max-width: 118px;
}

.budget-wrapper {
  display: flex;
  justify-content: space-between;
}
.budget-amount-wrapper {
  width: 100%;
  max-width: 278px;
}

.calendar-label {
  display: block;
}

//*********************************** CREATE BRIEF Roles selector *************
.tagify--outside{
  border: 0;
}

.tagify--outside .tagify__input {
  order: -1;
  flex: 100%;
  width: 100%;
  @include input-style;
  font-size: $lang-item;
  color: $black;
  position: relative;
  background: url("../img/icons/selector-icon.svg") no-repeat center right 10px;
  margin: 0 0 15px 0;
  &:focus {
    border: 1px solid $alto;
    border-radius: 4px;
  }
}
.tagify--outside.tagify--focus .tagify__input{
  transition:0s;
  border: 1px solid $alto;
  border-radius: 4px;
}
.tagify.tagify--focus {
  border: none;
}
.tagify__dropdown {
  color: $black;
  border: 1px solid $alto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
}
.tagify__dropdown__wrapper {
  border: none;
}
.tagify__dropdown__item {
  font-size: $log-in;
  padding: 2px 15px;
}
.tagify__tag {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  background-color: #e2ffff;
  border-radius: 80px;
  margin: 0 0 5px 5px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tagify__tag>div {
  background-color: #e2ffff;
  border-radius: 80px;
  padding: 8px 12px;
}
.tagify--tag-bg {
  background-color: #e2ffff;
}
.tagify__tag__removeBtn {
  font-size: 20px;
}

  //*********************************** CREATE BRIEF Calendar style *************

.ui-datepicker {
  width: 412px;
  background: $white;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-radius: 4px;
  padding: 24px;
  margin-top: 16px;
  z-index: 2!important;
  box-sizing: border-box;
  .ui-widget-header {
    border: none;
    .ui-icon {
      background-image: none;
    }
  }
  .ui-datepicker-header {
    background-color: $white;
    border-bottom: 1px solid $alto;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .ui-datepicker-title {
    font-weight: 700;
    font-size: $normal;
    color: $black;
  }
  .ui-datepicker-next, .ui-datepicker-prev {
    font-weight: 400;
    font-size: $lang-item;
    color: $show-pass;
    border: none;
    background-color: transparent;
    top: 2px;
    cursor: pointer;
    &:before {
      position: relative;
      top: 5px;
    }
  }
  .ui-datepicker-next {
    right: 1px;
    &:before {
      content: "Next";
    }
  }
  .ui-datepicker-prev {
   left: 1px;
    &:before {
      content: "Preview";
    }
  }
  th {
    font-weight: 700;
    font-size: $lang-item;
    color: $black;
  }
  .ui-state-default {
    text-align: center;
    border: none;
    background-color: $white;
    padding: 10px 0;
  }
  .ui-state-active {
    background-color: $alto;
    border-radius: 4px;
    color: $black;
  }
  .ui-datepicker-today {
    .ui-state-default {
      border: 1px solid $alto;
      border-radius: 4px;
      color: $black;
    }
  }
  .ui-datepicker-calendar {
    .ui-state-hover {
      background-color: $alto;
      border-radius: 4px;
      color: $black;
    }
  }
}

.submit-brief-btn {
  width: 200px;
  font-size: $normal;
  font-weight: 700;
  color: $black;
  background-color: $aquamarine;
  border: 1px solid $mercury;
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 13px 0;
  cursor: pointer;
  transition: all .3s linear;
  &:hover {
    background-color: $aquamarine-hover;
  }
}

//*********************************** CREATE BRIEF Brief Summary *************

.brief-summary-description {
  width: 100%;
  max-width: 720px;
  font-size: $log-in;
  color: $summary-description;
  padding-top: 8px;
}

.brief-textarea {
  width: 100%;
  max-width: 720px;
  height: 230px;
  resize: none;
  background-color: $pop-up-input-gradient;
  border: 1px solid $mystic;
  border-radius: 4px;
  padding: 24px;
  box-sizing: border-box;
}

//*********************************** CREATE BRIEF Add attachment *************

#attachmentNum {
  visibility: hidden;
  display: none;
  position: absolute;
}
.file-block {
  padding: 30px 0 20px;
  margin-right: 45px;
  position: relative;
}
.input-file-label {
  font-weight: 600;
  font-size: $normal;
  color: $black;
  margin-right: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  .append-image {
    padding-right: 15px;
  }
}
.input-file {
  display: none;
}
.input-close {
  position: absolute;
  top: 15px;
  right: -10px;
  &:before {
    content: "\38";
    font-family: untitled-font-1, sans-serif;
    color: $black;
    font-size: $normal;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid $mystic;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s linear;
  }
  &:hover {
    &:before {
      background-color: $aquamarine;
    }
  }
}

.AttachmentLegend {
  background-color: transparent;
  width: auto;
  height: 30px;
  padding: 0;
  line-height: 25px;
  color: #fff;
}
.AttachmentFS {
  width: 600px;
  margin: 25px auto 15px;
  border-radius: 5px;
  border: 2px solid #fff;
}
.Msg {
  width: 720px;
  font-size: $normal;
  color: $black;
  background-color: $pop-up-input-gradient;
  border: 1px solid $mystic;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  display: none;
}
.AttachmentFS .x {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  line-height: 13px;
  margin-left: -35px;
  position: absolute;
  margin-top:0;
  background-color: #fff;
  color: rgb(0, 143, 255);
  font-size: 13px;
  font-weight: lighter;
  border-color:#ccc;
}
.AttachmentFS .x:hover {
  background-color: rgb(0, 143, 255);
  color: #fff;
  cursor:pointer;
}
.addNewAttachment {
  font-weight: 700;
  font-size: $normal;
  color: $black;
  background-color:#fff;
  border: 1px solid $mercury;
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 13px 24px;
  cursor:pointer;
  transition: all .3s linear;
  &:hover {
    background-color: $mercury;
  }
}
.add-wrapper {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.attachmentContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sureAdd {
  text-align: center;
  margin-top: 15px;
  display: none;
}
.attachment-description {
  font-weight: 600;
  font-size: $tags-mobile;
  color: $description;
  padding-left: 16px;
}

//*********************************** CREATE BRIEF Publish brief *************
.publish-brief-block {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
.publish-brief-btn {
  font-size: $normal;
  font-weight: 700;
  color: $black;
  border: 1px solid $mercury;
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 13px 37px;
  cursor: pointer;
  margin-right: 8px;
  background-color: $aquamarine;
  transition: background-color .3s linear;
  &:hover {
    background-color: $aquamarine-hover;
  }
}
.publish-description {
  width: 100%;
  max-width: 427px;
  font-weight: 600;
  font-size: $tags-mobile;
  color: $description;
  padding: 0 24px 0 40px;
}
//************************************************************************************
//*********************************** Section business CREATOR PAGE ******************
//************************************************************************************

.creator-info-wrapper {
  display: flex;
  background-color: $white;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-radius: 4px;
  margin: 40px 0 48px;
}

//*********************************** CREATOR PAGE avatar block ******************
.creator-avatar-block {
  width: 300px;
  min-width: 300px;
  text-align: center;
  background-color: $pop-up-input-gradient;
  padding: 32px 0 57px;
}

.creator-avatar-img {
  display: inline-block;
  width: 127px;
  height: 127px;
  border-radius: 50%;
  overflow: hidden;
}

.creator-name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0 32px;
}

.first-name, .second-name {
  font-weight: 400;
  font-size: $btn-size;
  line-height: 22px;
  text-align: center;
  color: $black;
}

.second-name {
  font-weight: 700;
}

.open-chat-btn {
  @include btn;
  font-size: $lang-item;
  padding: 10px 41px;
  &:hover {
    @include btn-hover;
  }
}

//*********************************** CREATOR PAGE info block ******************
.creator-info-block {
  flex-grow: 1;
  padding: 49px 74px 32px 32px;
}
.creator-title-block {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}
.creator-title {
  font-weight: 700;
  font-size: $menu-link;
  color: $black;
  padding-right: 5px;
}
.creator-description {
  font-size: $normal;
  color: $black;
}
.about-creator-text {
  padding: 24px 0;
}
.creator-tags {
  display: inline-block;
  font-weight: 700;
  font-size: $lang-item;
  color: $black;
  padding: 8px 12px;
  background-color: $humming-bird;
  border-radius: 160px;
  margin-right: 5px;
  margin-bottom: 8px;
  transition: all .3s linear;
  &:hover {
    background-color: darken($humming-bird, 10%);
  }
}
.creator-small-description {
  font-size: 11px;
  line-height: 13px;
  color: $small-description;
  padding-top: 8px;
}

//*********************************** CREATOR PAGE projects content ******************
.creator-projects-content {}
.creator-projects-title {
  font-weight: 700;
  font-size: $benefits-title;
  color: $black;
  border-bottom: 1px solid $mystic;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.creator-project-name {
  font-weight: 700;
  font-size: $card-description;
  color: $black;
}
.creator-project-description {
  font-size: $lang-item;
  color: $black;
  padding-bottom: 16px;
}

//************************************************************************************
//*********************************** Section business PROJECT ITEM ******************
//************************************************************************************
.creator-post-type-block {
  display: flex;
  align-items: flex-start;
  padding: 45px 0 72px;
}
.creator-post-type {
  max-width: 70%;
  background-color: $white;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-radius: 4px;
  .post-type-img {
    width: 100%;
    height: auto;
  }
}
.project-info-block {
  padding: 24px 32px 24px;
}
.projects-item-title {
  font-weight: 700;
  font-size: $benefits-title;
  color: $black;
}
.about-project-text {
  padding: 8px 0 24px;
  border-bottom: 1px solid $mystic;
}
.project-roles-title {
  font-size: $lang-item;
  color: $black;
  padding: 16px 0 8px;
}
.creator-avatar-item-block {
  display: flex;
  align-items: center;
  padding: 16px 0 24px;
}
.mini-avatar-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.creator-name-item {
  font-weight: 500;
  font-size: $normal;
  color: $black;
  padding: 0 16px 0 5px;
}

//************************************************************************************
//*********************************** CREATORS CABINET *******************************
//************************************************************************************

.creator-button-group {
  flex-grow: 1;
  justify-content: flex-end;
  .filters-button-group {
    justify-content: flex-end;
  }
}

//************************************************************************************
//*********************************** CREATORS BALANCE *******************************
//************************************************************************************

.creator-balance-content {
  padding: 95px 15px 0;
}
.creator-balance-card {
  width: 100%;
  max-width: 400px;
  background: $white;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  border-radius: 4px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 540px;
  }
}
.balance-card-header {
  text-align: center;
  background-color: $balance-header;
  padding: 28px 0 20px;
}
.balance-card-header-subtitle, .balance-card-header-headline,
.balance-card-body-title, .quantity-of-mesh {
  color: $black;
}
.balance-card-header-headline {
  font-weight: 700;
  font-size: $normal-plus;
  line-height: 25px;
  @media (min-width: 768px) {
    font-size: $running-line-size;
    line-height: 45px;
  }
}
.balance-card-header-subtitle {
  font-size: $normal;
  line-height: 18px;
  @media (min-width: 768px) {
    font-size: $card-description;
    line-height: 28px;
  }
}
.balance-card-body {
  text-align: center;
  padding: 24px 0;
}
.balance-card-body-title {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 4px;
}
.quantity-of-mesh {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: $h3;
  width: 92px;
  height: 92px;
  background-color: $alabaster;
  border-radius: 50%;
  padding: 14px;
  margin: 0 auto 10px;
  @media (min-width: 768px) {
    font-size: $fav-customer-description;
  }
}
.buy-mesh-btn {
  @include btn;
  font-size: $normal;
  padding: 14px 33px;
  &:hover {
    @include btn-hover;
  }
}

//************************************************************************************
//*********************************** CREATORS PORTFOLIO *****************************
//************************************************************************************

.creator-portfolio-content {
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 40px;
  }
}

//************************************************************************************
//*********************************** CREATORS BRIEF *********************************
//************************************************************************************

.brief-info-wrapper {
  width: 100%;
  height: 336px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(208, 218, 228, 0.6);
  display: flex;
  align-items: stretch;
  margin: 24px 0 51px;
  overflow: hidden;
}
.brief-img-wrapper {
  width: 65%;
}
.brief-title-img {
  width: 100%;
  height: 100%;
}
.brief-info-block {
  width: 35%;
}
.brief-info-block {
  padding: 8px 0 28px 20px;
  background-color: $white;
}
.brief-info-item {
  display: flex;
  padding-top: 24px;
}
.brief-icon-wrapper {
  min-width: 55px;
  text-align: center;
}
.brief-info-icon {

}
.info-title {
  font-weight: 700;
  font-size: $menu-link;
  line-height: 25px;
  color: $black;
  padding-bottom: 4px;
}
.info-subtitle {
  font-size: $normal;
  color: $black;
}
//*********************************** Brief details *********************************

.brief-details-headline, .brief-details-subtitle,
.brief-details-description, .brief-attachemts-headline {
  color: $black;
}

.brief-details-headline {
  font-weight: bold;
  font-size: $benefits-title;
  line-height: 39px;
  padding-bottom: 12px;
  margin-bottom: 32px;
  border-bottom: 1px solid $mystic;
}
.brief-details-subtitle {
  font-size: $card-description;
  font-weight: 700;
  padding-bottom: 8px;
}
.brief-details-description {
  font-size: $normal;
  line-height: 22px;
  padding-bottom: 40px;
}
//*********************************** Brief attachemts *********************************

.brief-attachemts-block, .attachemts-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.brief-attachemts-block {
  padding-bottom: 32px;
}
.attachemts-item {
  padding: 0 60px 10px 0;
  img {
    padding-right: 16px;
  }
  a {
    font-weight: 600;
    color: $black;
  }
}
//*********************************** Brief Submit *********************************

.submit-brief-block {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $mystic;
  padding: 32px 0 87px;
}


.brief-submit-item {
  padding-bottom: 40px;
}
.submit-textarea {
  background-color: $white;
}

//************************************************************************************
//*********************************** FAQ, TERMS, POLICY *****************************
//************************************************************************************
.text-content-wrapper {
  padding: 24px 15px;
  h1, h2, h3, h4, p {color: $black;}
  h1 {
    font-weight: 700;
    font-size: $normal-description;
    line-height: 34px;
    padding-bottom: 8px;
    @media (min-width: 768px) {
      font-size: $normal-plus;
    }
  }
  h2 {
    font-weight: 700;
    font-size: $menu-link;
    line-height: 25px;
    padding-bottom: 8px;
  }
  p {
    font-size: $normal;
    line-height: 22px;
    padding-bottom: 24px;
  }
}