@import "mixins";
@import "variables";

.dashboard-block {
  background-color: $dashboard-bg;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

//********************************************** Dashboard sidebar ******************************
//***********************************************************************************************
.dashboard-sidebar {
  width: 265px;
  background-color: $dashboard-bg;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  transform: translateX(-265px);
  transition: all .3s linear;
  @media (min-width: 992px) {
    width: 200px;
    transform: translateX(0);
    position: relative;
    z-index: 0;
  }

  .dashboard-nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 992px) {
      position: sticky;
      top: 0;
      left: 0;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 10px;
  }

  .page-language {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0 0 25px;
    li {
      &:first-child {
        &:after {
          content: '|';
        }
      }
    }
    a {
      color: $silver;
      padding: 0 5px;
      &:hover {
        color: $white;
      }
    }
    .active-language {
      color: $white;
    }
  }

  .user-data-list {
    border-bottom: 1px dashed $abbey;
    padding-bottom: 12px;
    margin: 0 24px;
    @media (min-width: 992px) {
      padding-bottom: 24px;
    }

    .user-data-item {
      text-align: center;

      .user-photo {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      .user-name {
        font-weight: bold;
      }

      .user-meshes {
        color: $fresh-pass;
      }
    }
  }

  .sidebar-menu {
    flex-grow: 2;
    padding-top: 30px;

    .sidebar-menu-item {
      position: relative;

      .sidebar-menu-icon {
        position: absolute;
        top: 50%;
        left: 31px;
        transform: translateY(-50%);
      }

      .sidebar-menu-link {
        font-size: $lang-item;
        color: $white;
        display: flex;
        flex-direction: column;
        padding: 17px 0 17px 63px;
      }

      .inbox-counter {
        font-size: $inbox-counter;
        color: $fresh-pass;
        padding-top: 5px;
      }

      &:hover {
        background-color: $bunker;
      }

      .account-link {
        padding: 9px 0 0 36px;
      }

      .account-mail {
        max-width: 160px;
        display: block;
        padding-bottom: 9px;
        font-size: $lang-item;
        font-weight: 500;
        color: $silver;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .log-out-link {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 17px 0 17px 36px;
      }

      .log-out-icon {
        margin: 0 0 3px 12px;
      }

      //******************************** Sub menu block ******************************
      .sub-menu-block {
        display: none;
        width: 174px;
        background-color: $white;
        position: absolute;
        //top: -300px;
        left: 45px;
        box-shadow: 0 3px 24px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        z-index: 3;
        transition: transform .4s linear;
        @media (min-width: 992px) {
          left: 13px;
        }

        .user-sub-info {
          display: flex;
          align-items: center;
          padding: 10px 8px;
          border-bottom: 1px solid $mystic;
        }

        //******************************** User info block ******************************
        .user-sub-data {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .user-sub-name {
            font: 700 $log-in sans-serif;
            color: $black;
          }

          .user-sub-nickname {
            font: 500 $inbox-counter sans-serif;
            color: $dove-gray;
          }
        }

        .user-min-photo {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        //******************************** Edit profile ******************************
        .edit-profile {
          font: 700 $log-in sans-serif;
          color: $black;
          padding: 12px 0 12px 24px;
          display: block;
          border-bottom: 1px solid $mystic;
        }

        //******************************** Sub menu list ******************************
        .sub-menu-list {
          .sub-menu-link {
            font-size: $log-in;
            color: $black;
            padding: 8px 0 8px 24px;
            display: block;
          }
          .faq {
            text-transform: uppercase;
          }
        }
      }
    }

    .active-sidebar-menu {
      background-color: $bunker;

      &:before {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        background-color: $fresh-pass;
        position: absolute;
        top: 0;
        left: 0;
      }
      .sidebar-menu-link {
        font-size: $normal;
        font-weight: 700;
      }
    }
  }

  .account-block {
    width: 100%;
    background-color: $dashboard-bg-dark;
    padding-bottom: 50px;
    @media (min-width: 992px) {
      width: 110%;
      padding-bottom: 0;
    }

    .account-menu {
      padding-top: 15px;
    }
  }
}
//************************************** Toggle class to menu ***********************
.mobile-menu-active {
  transform: translateX(0);
}

